.absolute-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-card {
  width: 610px;
  border-radius: 12px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24);
  background-color: #ffffff;
  padding: 36px;
}

.divider {
  width: 562px;
  height: 1px;
  opacity: 0.2;
  border: solid 1px #979797;
}

.login-disclaimer {
  height: 14px;
  opacity: 0.8;
  font-family: MuseoSans, sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 14px;
}

.logo {
  margin: 35px auto;
  width: 238px;
  height: 60px;
  object-fit: contain;
}

.center {
  margin: 0 auto;
  display: block;
}


@media (max-width: 768px) {
  .absolute-center {
    margin: 0;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    -ms-transform: none;
  }

  .login-card {
    margin-top: 72px;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
}
